*{
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.container{
    min-height:100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid rgb(12, 236, 27); */


}
.game{
    width: fit-content ;
    height: fit-content;
    /* background-color: aqua; */
    display: flex;
    margin-top: 10vh;
    column-gap: 10px;
    /* border: 2px solid yellow; */
   
}
.game img{
    width: 150px;
    margin: 20px;
}
.box{
    /* background-color: red; */
    border: 2px solid rgb(7, 8, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    box-shadow: 2px 2px 4px white;
    /* background-color: aqu */
    border-radius: 50%;
}
.boxText{
    font-size: 30px;
    cursor: pointer;
}
.box:active{
    background-color: rgb(146, 212, 23);
    /* border: 2px solid rgb(7, 8, 7); */
}
.totalscore{
    display: flex;
    justify-content: space-between;
    width: 562px;
    /* border: 2px solid red; */
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px red;

}
.maxScore{
    font-size: 1.5rem;
    color: white;color: rgb(225, 11, 11);

}
.score{
    font-size: 2.5rem;
    color: white;
    color: blue;

   
}
.reset{
    height: 20px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
    margin-top: 20px;
    color: rgb(11, 205, 208);
    background-color: black;
    cursor: pointer;
    border: 2px solid yellow;
}
.info{
    height: fit-content;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: white;
    margin-top: 10vh;
    color: yellow;
    margin-left: 35px;

}
.info img{
    width: 70px;
    margin: 0 30px;

}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 102, 0);
    /* margin-right: 33px; */
}

.computer{
    font-size: 1.5rem;
    color: white;
    color: rgb(255, 102, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}

.winer{
    margin-top: 30px;
    font-size: 30px;
    color: rgb(11, 237, 41);
    text-shadow: 3px 3px 3px;
    transition: all ease 1s;
}


@media (max-width :650px ) {
    .box{
        
        border: transparent;
        /* gap: 20px; */
        margin: 0 2vw;
    }
    .game{
        margin-top: 5vh;
    }
    .box img{
        width: 15vw;
    }
    
    .score{
        font-size: 10vw;      
        color: blue;

    }
    .totalscore{
        width: 70%;
        margin: 20px auto;
        flex-direction: column-reverse;
        color: blue;
        text-shadow: 1px 1px 3px red;
        
    }
    .maxScore{
        font-size: 8vw;
        color: rgb(225, 11, 11);

    }
    .info {
        font-size: 8vw;
        margin-top: 5vh;
        color: yellow;
        /* border: 1px solid red; */
        margin:5vw 0 0 0;
        
    }
    .info img{
        width: 15vw;
        margin: 0 0vw;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .text{
        /* border: 1px solid green; */
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .computer{
        font-size: 6vw;
        color: rgb(255, 102, 0);
        /* border: 1px solid rgb(222, 224, 222); */
        display: flex;
        align-items: center;
        justify-content: center;

    }
}