*{
    margin: 0;
    padding: 0;

}

.container{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;


}
.game{
    width: fit-content ;
    height: fit-content;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: 90px;
    column-gap: 10px;
   
}
.box{
    /* background-color: red; */
    border: 2px solid rgb(7, 8, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: aqua;
    border-radius: 20px;
}
.boxText{
    font-size: 30px;
    cursor: pointer;
}
.box:active{
    background-color: rgb(146, 212, 23);
    /* border: 2px solid rgb(7, 8, 7); */
}
.totalscore{
    display: flex;
    justify-content: space-between;
    width: 460px;
    /* border: 2px solid red; */
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px red;

}
.maxScore{
    font-size: 1.5rem;
    color: white;color: rgb(225, 11, 11);

}
.score{
    font-size: 2.5rem;
    color: white;
    color: blue;

   
}
.info{
    height: fit-content;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: white;
    margin-top: 10vh;
    color: yellow;

}

.computer{
    font-size: 2.5rem;
    color: white;
    color: rgb(255, 102, 0);

}

@media (max-width :500px ) {
    .box{
        box-shadow: 2px 2px 4px white;
        border: transparent;
    }
    .game{
        grid-template-columns: 70vw;
        grid-template-rows: repeat(3,40px);
        grid-row-gap: 10px;
    }
    .score{
        font-size: 10vw;      
        color: blue;

    }
    .totalscore{
        width: 70%;
        margin: 20px auto;
        flex-direction: column-reverse;
        color: blue;
        text-shadow: 1px 1px 3px red;
    }
    .maxScore{
        font-size: 8vw;
        color: rgb(225, 11, 11);

    }
    .info {
        font-size: 8vw;
        margin-top: 5vh;
        color: yellow;
        
    }
    .computer{
        font-size: 6vw;
        color: rgb(255, 102, 0);

    }
}